 .todo-container {
     width: 300px;
     margin: 50px auto;
     padding: 20px;
     border: 1px solid #9e0000;
     border-radius: 5px;
 }

 body {
     background-color: black;
 }

 h1 {
     color: white;
 }



 .todo-list {
     list-style-type: none;
     padding: 0;
     color: white;
 }

 li {
     margin: 10px 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 button {
     margin-left: 10px;
 }
